.App {
  font-size: 14px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
}
/* 
.order-row {
  display: flex;
  justify-content: space-around;
  width: 500px;
} */

.customactive {
  border: 1px solid red;
}
